@charset "UTF-8";
/*=========================================================

  各ページのスタイルを追加していきます。
  各ページごとにファイルを作っていきます。

=========================================================*/

.container {
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width:960px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}



@mixin bg-size {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
}

.kv-pc {
  display: block;
}

.kv-sp {
  display: none;
}

.kv {
  background-image: url(../../img/MINIQUE_LP_PC-assets/kv_bg01.png);
  @include bg-size;
  background-size: 100vw 700px;
  font-family: "Kazesawa";
  .top-img {
    padding-top: 82px;
    position: relative;
    font-family: "Kazesawa-Extrabold";
    .kv-content {
      position: absolute;
      top: 495px;
      left: 380px;
      .kv-item {
        width: 320px;
        height: 70px;
        background-color: #0c82f8;
        border-radius: 35px;
        font-size: 20px;
        line-height: 1.2em;
        color: #fff;
        .check-img {
          margin-left: 2rem;
          padding-top: 0.75rem;
          vertical-align: bottom;
        }
        .kv-item-txt {
          display: inline-block;
          padding: 12px 0 0 12px;
          vertical-align: top;
        }
      }
      .kv-txt {
        margin-top: 40px;
        color: #37474f;
        left: 350px;
        p {
          font-size: 22px;
          line-height: 38px;
          span {
            font-size: 38px;
            color: #fe4a67;
            border-bottom: 6px solid #fe4a67;
          }
        }
      }
    }
  }
}

@media screen and (max-width:960px) {
  .kv {
    .top-img {
      .kv-content {
        .kv-item {
          .check-img {
          }
        }
        .kv-txt {
          text-align: center;
          font-size: 2.1vw;
          p {
            font-size: 2.1vw;
            span {
              &::after {
                content: "\A" ;
                white-space: pre;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width:768px) {
  .container {
    width: 100%;
  }
  .kv-pc {
    display: none;
  }
  .kv-sp {
    display: block;
    width: 96vw;
  }
  .kv {
    background-size: 100vw 110vh;
    height: 110vh;
    .top-img {
      padding-top: 3rem;
      .kv-content {
        position: static;
        .kv-item {
          width: 70.6777%;
          height: 14.667vw;
          margin: 10% auto;
          border-radius: 55px;
          font-size: 4.8vw;
          .check-img {
            margin-left: 3rem;
          }
        }
        .kv-txt {
          text-align: center;
          p {
            font-size: 4.8vw;
            line-height: 11.6vw;
            span {
              font-size: 9.6vw;
              &::after {
                content: "\A" ;
                white-space: pre;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:375px) {
  .kv {
    background-size: 100vw 84vh;
    height: 84vh;
    .top-img {
      .kv-content {
        .kv-item {
          .kv-item-txt {
            padding: 7px 0 0 7px;
          }
          .check-img {
            width: 45px;
            margin-left: 1.5rem;
            padding-top: .5rem;
          }
        }
      }
    }
  }
}

.fee {
  background-image: url(../../img/MINIQUE_LP_PC-assets/kv_bg02.png);
  background-size: 100vw 567px;
  @include bg-size;
  height: 567px;
  .fee-txt-box-left {
    width: 470px;
    height: 135px;
    padding-top: 35px;
    margin-top: 120px;
    float: left;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
    font-family: "Kazesawa-Extrabold";
    p {
      line-height: 48px;
      font-size: 30px;
      color: #1a57a5;
      span.txt-red {
        color: #fe4a67;
        font-size: 36px;
      }
      span.txt-blue {
        color: #1a57a5;
      }
    }
  }
  .fee-txt-box-right {
    @extend .fee-txt-box-left;
    float: right;
    p {
      span {
        font-size: 42px;
      }
      span.txt-red {
        font-size: 42px;
      }
    }
  }
}

@media screen and (max-width:960px) {
  .fee {
    .fee-txt-box-left {
      width: 47%;
      height: 120px;
      padding-top: 50px;
      margin-top: 120px;
      p {
        line-height: 4vh;
        font-size: 2.6vw;
        span.txt-red {
          font-size: 3.7vw;
        }
        span.txt-blue {
        }
      }
    }
    .fee-txt-box-right {
      p {
        span {
          font-size: 4.3vw;
        }
        span.txt-red {
          font-size: 4.3vw;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .fee {
    background-image: url(../../img/MINIQUE_LP_SP_assets/kv_bgsp02.png);
    background-size: 100vw 840px;
    margin-top: 200px;
    height: 840px;
    .container {
      padding-top: 130px;
      .fee-txt-box-left {
        padding: 50px 0;
        width: 86.667%;
        height: 31.33%;
        float: none;
        margin: 10px auto 0;
        box-sizing: border-box;
        p {
          font-size: 5.3vw;
          line-height: 6vh;
          span.txt-red,
          span.txt-blue {
            font-size: 7.7vw;
          }
        }
      }
      .fee-txt-box-right {
        float: none;
        margin: 25px auto 0;
        p {
          span {
            font-size: 7.7vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width:375px) {
  .fee {
    background-size: 100vw 420px;
    height: 420px;
    margin-top: 100px;
    .container {
      padding-top: 30px;
      .fee-txt-box-left {
        padding: 20px 0;
        width: 325px;
        height: 127px;
      }
    }
    .fee-txt-box-right {
    }
  }
}


/*--------------------------------------------------
  about minique
--------------------------------------------------*/

.about-minique {
  text-align: center;
  .about-minique-ttl {
    font-size: 48px;
    font-family: "Kazesawa-Extrabold";
    color: #1a57a5;
  }
  .ttl-under-border {
    margin: 40px auto;
    border: 2px solid #1a57a5;
    width: 100px;
    border-radius: 2px
  }
  .minique-concept {
    margin: 40px auto 100px;
    p {
      font-size: 20px;
      line-height: 36px;
    }
  }
  .what-minique {
    h3 {
      span {
        font-family: 'Proza Libre', sans-serif;
      }
      font-size: 30px;
      line-height: 48px;
      margin-bottom: 30px;
    }
    h4 {
      font-family: "Kazesawa-Extrabold";
      line-height: 36px;
      margin-top: 26px;
      .what-minique-sub01 {
        font-size: 30px;
      }
      .what-minique-sub02 {
        font-size: 36px;
      }
    }
    p {
      margin: 40px auto;
      font-size: 18px;
    }
    .about-minique-step {
      width: 100%;
      margin: 0 auto;
      background-color: #f9f7ee;
      padding: 25px 60px;
      text-align: left;
      line-height: 30px;
      color: #1a57a5;
      position: relative;
      box-sizing: border-box;
      box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
      font-weight: bold;
      li {
        span {
          color: #2196f3;
        }
      }
    }
  }
}

@media screen and (max-width:960px) {
  .about-minique {
    width:100%;
    margin: 0 auto;
    .about-minique-ttl {

    }
    .ttl-under-border {

    }
    .minique-concept {

    }
    .what-minique {
    }
  }
}

@media screen and (max-width:768px) {
  .about-minique {
    .about-minique-ttl {
      font-size: 8vw;
      width: 65%;
      margin: 0 auto;
    }
    .minique-concept {
      width: 75%;
      p {
        font-size: 3.73vw;
        line-height: 4vh;
        letter-spacing: .3vh;
      }
    }
    .what-minique {
      h3 {
        font-size: 5.6vw;
        span {
        }
      }
      h4 {
        width: 85%;
        margin: 26px auto;
        line-height: 50px;
        .what-minique-sub01 {
          font-size: 4.26vw;
        }
        .what-minique-sub02 {
          font-size: 6.4vw;
        }
      }
      p {
        font-size: 3vw;
        width: 70%;
      }
      .about-minique-step {
        width: 95%;
        font-size: 3.7vw;
        line-height: 6vw;
      }
    }
  }
}

@media screen and (max-width:375px) {
  .about-minique {
    .what-minique {
      .about-minique-step {
        font-size: 2.8vw;
        line-height: 6.4vw;
        padding: 30px 15px;
      }
      h4 {
        line-height: 30px;
      }
      p {
        margin: 20px auto;
      }
    }
  }
}


.bg_bottom_wide_box {
  position: relative;
  .bg_bottom_wide {
    position: absolute;
    background-image: url(../../img/MINIQUE_LP_PC-assets/bg_bottom_wide.png);
    background-size: 100vw 365px;
    height: 365px;
    width: 100%;
    top: 60px;
    z-index: -1;
    @include bg-size;
  }
}

@media screen and (max-width:768px) {
  .bg_bottom_wide_box {
    .bg_bottom_wide {
      background-image: url(../../img/MINIQUE_LP_SP_assets/bg_bottom_widesp.png);
      background-size: 100vw 365px;
      height: 365px;
      position: absolute;
      top: 410px;
    }
  }
}


@media screen and (max-width:375px) {
  .bg_bottom_wide_box {
    .bg_bottom_wide {
      background-size: 100vw 137px;
      height: 137px;
      position: absolute;
      top: 175px;
    }
  }
}


/*--------------------------------------------------
  platform
--------------------------------------------------*/

.platform-pc {
  display: inline-block;
}

@media screen and (max-width:960px) {
  .platform-pc {
    width: 90%;
    margin: 0 auto;
  }
}

.platform-sp {
  display: none;
}

.platform-box {
  text-align: center;
  background: linear-gradient(#fff, #f5f8f9);
  h4 {
    margin: 240px 0 30px;
    font-family: "Kazesawa-Extrabold";
    font-size: 36px;
  }
  p {
    padding: 50px 0 80px 0;
    font-size: 24px;
  }
}

@media screen and (max-width:768px) {
  .platform-pc {
    display: none;
  }
  .platform-sp {
    display: block;
    width: 100%;
  }
  .platform-box {
    width: 100%;
    margin: 300px auto 0;
    position: relative;
    text-align: center;
    h4 {
      width: 70%;
      margin: 0 auto 30px;
      font-size: 5.6vw;
      span {
        &::after {
          content: "\A" ;
          white-space: pre;
        }
      }
    }
    p {
      font-size: 4.7vw;
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width:375px) {
  .platform-box {
    margin: 110px auto 0;
  }
}


/*--------------------------------------------------
  value
--------------------------------------------------*/

.value-box {
  text-align: center;
  .value-container {
    width: 960px;
    margin: 0 auto;
  }
  h4 {
    margin-bottom: 30px;
    .value-ttl01 {
      font-size: 30px;
      span {
        font-family: 'Proza Libre', sans-serif;
      }
    }
    .value-ttl02 {
      font-family: "Kazesawa-Extrabold";
      font-size: 48px;
    }
  }
  .value-circle-wrap {
    font-size: 30px;
    display: inline-block;
    margin-top: 40px;
    width: 290px;
    &:nth-child(2) {
      margin: 40px 30px;
    }
    .value-circle {
      font-family: "Kazesawa-Extrabold";
      background-color: #f1943a;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 40px;
      box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
      margin: 40px auto;
      p {
        display: table-cell;
        color: #fff;
        width: 290px;
        height: 290px;
        text-align: center;
        vertical-align: middle;
      }
      .value-txt-yellow {
        color: #f6e14f;
        font-size: 36px;
      }
      .value-txt-bt {
        font-size: 30px;
      }
    }
    .value-dec {
      p {
        font-size: 20px;
        line-height: 1.6;
      }
    }
  }
}

@media screen and (max-width:960px) {
  .value-box {
    width: 100%;
    margin: 0 auto;
    .value-container {
      width: 100%;
      margin: 0 auto;
    }
    h4 {
      .value-ttl01 {
      }
      .value-ttl02 {
      }
    }
    .value-circle-wrap {
      font-size: 2.6vw;
      width: 30%;
      &:nth-child(2) {
        margin: 40px 15px;
      }
      .value-circle {
        p {
          width: 28vw;
          height: 27vw;
        }
        .value-txt-yellow {
          font-size: 3.6vw;
        }
        .value-txt-bt {
          font-size: 3vw;
        }
      }
      .value-dec {
        p {
          font-size: 2vw;
          line-height: 1.6;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .value-box {
    h4 {
      .value-ttl01 {
        font-size: 5vw;
      }
      .value-ttl02 {
        font-size: 8vw;
      }
    }
    .value-circle-wrap {
      float: none;
      margin: 0 auto;
      padding-top: 12vw;
      width: 450px;
      &:first-child {
        padding-top: 40px;
      }
      &:nth-child(2) {
        margin: 0 auto;
      }
      .value-circle {
        p {
          width: 450px;
          height: 450px;
          font-size: 6.6vw;
        }
        .value-txt-yellow{
          font-size: 8vw;
        }
        .value-txt-bt {
          font-size: 6.6vw;
        }
      }
      .value-dec {
        p {
          font-size: 4.8vw;
        }
      }
    }
  }
}

@media screen and (max-width:375px) {
  .value-box {
    .value-circle-wrap {
      padding-top: 5vh;
      width: 250px;
      &:first-child {
        padding-top: 40px;
      }
      &:nth-child(2) {
        margin: 0 auto;
      }
      .value-circle {
        margin-bottom: 10px;
        margin-top: 0;
        p {
          width: 250px;
          height: 250px;
        }
      }

    }
  }
}

/*--------------------------------------------------
  triangle box
--------------------------------------------------*/

.triangle-box02 {
  background-image: url(../../img/MINIQUE_LP_PC-assets/triangle_03_02.jpg);
  background-size: 100vw 18vh;
  @include bg-size;
  width: 100%;
  height: 18vh;
}

.triangle-box03 {
  background-image: url(../../img/MINIQUE_LP_PC-assets/triangle03.png);
  background-size: 100vw 18vh;
  @include bg-size;
  width: 100%;
  height: 18vh;
}

.triangle-box04 {
  background-image: url(../../img/MINIQUE_LP_PC-assets/triangle02.png);
  background-size: 100vw 18vh;
  @include bg-size;
  width: 100%;
  height: 18vh;
}


/*--------------------------------------------------
  project
--------------------------------------------------*/

.event-pc {
  display: inline-block;
  box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
}
@media screen and (max-width:960px) {
  .event-pc {
    width: 90%;
    margin: 0 auto;
  }
}

.event-sp {
  display: none;
}

.first-project {
  text-align: center;
  font-family: "Kazesawa-Extrabold";
  h4.project-ttl {
    font-size: 48px;
    margin-bottom: 40px;
    span {
      font-size: 36px;
      .txt-red {
        color: #fe4a65;
        font-weight: bold
      }
    }
    .txt-minique {
      font-family: 'Proza Libre', sans-serif;
      font-size: 48px;
    }
  }
  h4.project-info {
    font-size: 30px;
    padding: 30px 0 80px 0;
    span.txt-red {
      color: #fe4a65;
    }
  }
  .event-bg-box {
    position: relative;
    .event-bg {
      background-image: url(../../img/MINIQUE_LP_PC-assets/bg_event.png);
      background-size: 100vw 250px;
      @include bg-size;
      position: absolute;
      top: 80%;
      width: 100%;
      height: 250px;
      z-index: -1;
    }
  }
}

@media screen and (max-width:768px) {
  .event-pc {
    display: none;
  }
  .event-sp {
    display: block;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
  }
  .first-project {
    h4.project-ttl {
      font-size: 8vw;
      span{
        font-size: 5.6vw;
      }
      .txt-minique {
        font-size: 6.4vw;
      }
    }
    h4.project-info {
      font-size: 4.2vw;
    }
    .event-bg-box {
      .event-bg {
        background-image: url(../../img/MINIQUE_LP_SP_assets/event_bgsp.png);
      }

    }
  }
}

@media screen and (max-width:510px) {
  .first-project {
    .event-bg-box {
      .event-bg {
        top: 70%;
      }
    }
  }
}

@media screen and (max-width:375px) {
  .first-project {
    h4.project-info {
      padding: 30px 0 40px 0;
    }
    .event-bg-box {
      .event-bg {
        top: 65%;
      }
    }
  }
}


/*--------------------------------------------------
  event feature
--------------------------------------------------*/

.event-feature {
  h4 {
    text-align: center;
    font-size: 36px;
    font-family: "Kazesawa-Extrabold";
    padding-bottom: 35px;
    margin-top: 160px;
    .txt-minique {
      font-family: 'Proza Libre', sans-serif;
      font-size: 48px;
    }
  }
  .point03 {
    position: relative;
    top: 100px;
    float: left;
    max-width: 500px;
    width: 35vw;
    padding-left: 50px;
  }
  .event-feature-content01 {
    width: 355px;
    height: 460px;
    float: left;
    position: relative;
    margin-top: 120px;
    clear: both;
    margin-bottom: 120px;
    img {
    }


    .point01 {
      position: absolute;
      top: 0;
      left: 385px;
      box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
      max-width: 748px;
      width: 54.2vw;
    }
  }
  .event-feature-content02 {
    float:right;
    width: 370px;
    height: 460px;
    position: relative;
    .point02 {
      position: absolute;
      top: 0;
      right: 385px;
      height: 460px;
      max-width: 895px;
      width: 64.8vw;
      height: auto;
    }
  }
 .event-feature-content03 {
    @extend .event-feature-content01;
    width: 365px;
    margin-bottom: 25px;
  }
  .event-feature-txt01 {
    font-size: 18px;
    font-family: "Kazesawa-Extrabold";
    line-height: 30px;
    display: inline-block;
    padding-right: 40px;
  }
  .event-feature-txt01-right {
    @extend .event-feature-txt01;
    padding-right: 5px;
  }
  .event-feature-txt02 {
  font-size: 30px;
  font-family: "Kazesawa-Extrabold";
  line-height: 1.8;
  margin-bottom: 60px;
  }
  .event-feature-txt03 {
    word-wrap: break-all;
    line-height: 1.875;
  }
  .arrow{
    position: relative;
    display: inline-block;
  }
  .arrow::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 0px;
    border-top: solid 5px #f6e14f;
    border-right: solid 5px #f6e14f;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -25px;
  }
  .number01 {
    font-size: 120px;
    font-family: 'Proza Libre', sans-serif;
    color: #f6e14f;
    line-height: 0;
  }
  .number02 {
    @extend .number01;
    padding: 0;
  }
}

@media screen and (max-width:960px){
  .event-feature {
    h4 {
      .txt-minique {
      }
    }
    .event-feature-content01 {
      .point01 {
        position: absolute;
        top: 0;
        left: 385px;
        box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
        max-width: 748px;
        width: 47.2vw;
      }
    }
  }
}


@media screen and (max-width:768px){
  .event-feature {
    h4 {
      font-size: 5.6vw;
      .txt-minique {
        font-size: 8vw;
        &::after {
          content: "\A" ;
          white-space: pre;
        }
      }
    }
  .point03 {
    float: none;
    top: 0;
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
  }
    .event-feature-content01{
      width: 95%;
      height: auto;
      margin: 80px auto;
      float: none;
      text-align: left;
      .point01 {
        position: static;
        width: 100%;
      }
      .event-txtsp-right {
        display: block;

        .event-feature-txt01 {
          display: block;
          font-size: 3.7vw;
          line-height: 3.7vh;
        }
        .event-feature-txt02 {
          display: block;
          float: left;
          font-size: 6.4vw;
          position: relative;
          top: -65px;
          margin-bottom: 0;
        }
        .number01 {
          font-size: 32vw;
          padding-left: 54vw;
        }
      }
    .event-feature-txt03{
      margin-bottom: 60px;
      font-size: 1.8vh;
    }
  }
  .event-feature-txt01-right {
    font-size: 4vw;
    line-height: 3.7vh;
  }
  .event-feature-content02 {
    float: none;
    width: 95%;
    height: auto;
    margin: 80px auto;
    text-align: left;
    .point02 {
      position: static;
      width: 100%;
      height: auto;
    }
  }
  .number02 {
    font-size: 32vw;
    padding-left: 54vw;
  }
  .event-feature-txt02 {
    display: block;
    float: left;
    font-size: 6.4vw;
    position: relative;
    top: -65px;
    margin-bottom: 0;
  }
  .event-feature-txt03{
    margin-bottom: 60px;
    font-size: 1.8vh;
  }
    .arrow::before{
      width: 30px;
      height: 30px;
      margin-top: -25px;
    }
  }
}

@media screen and (max-width:375px){
  .event-feature {
    h4 {
    margin-top: 150px;
      .txt-minique {
        &::after {
          content: "\A" ;
          white-space: pre;
        }
      }
    }
    .point03 {
      float: none;
    }
    .event-feature-content01{
      width: 95%;
      height: auto;
      margin: 40px auto;
      float: none;
      .point01,
      .point02 {
        position: static;
        width: 100%;
      }
      .event-txtsp-right {
        display: block;
        .event-feature-txt01 {
          display: block;
          font-size: 4vw;
        }
        .event-feature-txt02 {
          display: block;
          float: left;
          position: relative;
          top: -35px;
          margin-bottom: 0;
        }
        .number01 {
          font-size: 36vw;
          // padding-left: 190px;
        }
      }
      .event-feature-txt03{
        margin-bottom: 30px;
      }
    }
    .arrow::before{
      width: 15px;
      height: 15px;
      margin-top: -13px;
    }
    .number02 {
      // padding-left: 190px;
    }
    .event-feature-content02 {
        margin: 40px auto;
      }
    .event-feature-txt02 {
      position: relative;
      top: -35px;
      margin-bottom: 0;
    }

    .event-feature-txt03 {
      margin-bottom: 30px
    }
  }
}

/*--------------------------------------------------
  area
--------------------------------------------------*/

.area-pc {
  display: inline-block;
}
@media screen and (max-width:960px) {
  .area-pc {
    width: 90%;
    margin: 0 auto;
  }
}

.area-sp {
  display: none;
}


.area {
  text-align: center;
  h4 {
    font-family: "Kazesawa-Extrabold";
    font-size: 36px;
    margin-bottom: 30px;
  }
  img {
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
  }
}

.area_bg_bottom_wide_box {
  position: relative;
  padding-top: 40px;
  .bg_bottom_wide {
    position: absolute;
    background-image: url(../../img/MINIQUE_LP_PC-assets/area_bg_bottom_wide.png);
    background-size: 100vw 365px;
    height: 365px;
    width: 100%;
    top: 390px;
    z-index: -1;
    @include bg-size;
  }
}

@media screen and (max-width:960px){
  .area {
    .area_bg_bottom_wide_box {
      .bg_bottom_wide {
        top: 75%;
      }
    }
  }
}

@media screen and (max-width:768px){
  .area-pc {
    display: none;
  }
  .area-sp {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .area {
    h4 {
      font-size: 5.6vw;
    }
  }
  .area_bg_bottom_wide_box {
    .bg_bottom_wide {
      top: 75%;
    }
  }
}

@media screen and (max-width:672px){
  .area {
    .area_bg_bottom_wide_box {
      .bg_bottom_wide {
        top: 72%;
      }
    }
  }
}

@media screen and (max-width:568px){
  .area {
    .area_bg_bottom_wide_box {
      .bg_bottom_wide {
        top: 68%;
      }
    }
  }
}

@media screen and (max-width:497px){
  .area {
    .area_bg_bottom_wide_box {
      .bg_bottom_wide {
        top: 63%;
      }
    }
  }
}

@media screen and (max-width:420px){
  .area {
    .area_bg_bottom_wide_box {
      .bg_bottom_wide {
        // top: 57%;
      }
    }
  }
}

@media screen and (max-width:375px) {
  .area {
    .area_bg_bottom_wide_box {
      .bg_bottom_wide {
        background-size: 100vw 250px;
        height: 250px;
        position: absolute;
      }
    }
  }
}

/*--------------------------------------------------
  open price
--------------------------------------------------*/


.open-price-box {
  height: auto;
  background-color: #f1943a;
  position: relative;
  z-index: -10;
  text-align: center;
  padding-bottom: 80px;
  .price-txt {
    font-family: "Kazesawa-Extrabold";
    margin-top: 240px;
    padding-top: 20px;
    .price-txt-limit {
      width:140px;
      height:50px;
      z-index: 1;
      background-color: #1a57a5;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      font-size: 20px;
      text-align: center;
      letter-spacing: 1px;
      span {
        font-size: 34px;
      }
    }
    .price-txt-ttl {
      display: inline-block;
      font-size: 30px;
      padding-left: 12px;
      color: #fff;
      letter-spacing: 2px;
      span {
        font-size: 36px;
        background-image: radial-gradient(.1em 1em at center center,#f6e14f,#f6e14f 95%,transparent);
        padding: .2em 0;
        background-repeat: repeat-x;
        background-size: 1em .2em;
        background-position: top left;
      }
    }
    h3 {
      font-size: 72px;
      color: #fff;
      margin-bottom: 40px;
      text-shadow: 0 20px 45px rgba(0,0,0,.15);
    }
  }
  .price-content-box-left {
    width: 470px;
    height: 135px;
    padding-top: 35px;
    float: left;
    background-color: #fff;
    text-align: center;
    font-family: "Kazesawa-Extrabold";
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
    p {
      line-height: 48px;
      font-size: 30px;
      color: #1a57a5;
      span {
        font-size: 1.2em;
      }
      span.txt-red {
        color: #fe4a67;
      }
      span.txt-blue {
        color: #1a57a5;
      }
    }
  }
  .price-content-box-right {
    @extend .price-content-box-left;
    float: right;
    p {
      span {
        font-size: 36px;
        color: #fe4a67;
      }
    }
  }
  .price-content-box-center {
    font-family: "Kazesawa-Extrabold";
    width: 750px;
    height: 170px;
    margin: 20px auto;
    background-color: #fff;
    color: #1a57a5;
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
    .incentive-fee {
      font-size: 24px;
      display: inline-block;
      text-align: left;
      padding-top: 50px;
      span {
        color: #f1943a;
        border-bottom: solid 1px #f1943a;
      }
    }
    .price-content-box-arrow {
      display: inline-block;
      margin: 0 20px;
      p {
        display: block;
        font-size: 18px;
        vertical-align: bottom;
        span {
          color: #fe4a67;
          font-size: 30px;
        }
      }
      .arrow-sp {
        display: none;
      }
    }
    .price-thirty {
      display: inline-block;
      p {
        font-size: 54px;
        color: #fe4a67;
        span {
          font-size: 36px;
        }
      }
    }
  }
}
.price_bg {
  background-image: url(../../img/MINIQUE_LP_PC-assets/price_bg.png);
  background-size: 100vw 50px;
  @include bg-size;
  height: 52px;
  position: relative;
  top: -2px;
  z-index: -2;
}


@media screen and (max-width:960px){
  .open-price-box {
    .price-content-box-left,
    .price-content-box-right {
      width: 48%;
      height: 170px;
      margin: 0 auto 30px;
      box-sizing: border-box;
      padding: 30px 0;
      p {
        line-height: 5vw;
        font-size: 2.8vw;
      }
    }
    .price-content-box-center {
      font-family: "Kazesawa-Extrabold";
      width: 100%;
      height: 170px;
      margin: 20px auto;
      background-color: #fff;
      color: #1a57a5;
      box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
      .incentive-fee {
        font-size: 24px;
        display: inline-block;
        text-align: left;
        padding-top: 50px;
        span {
          color: #f1943a;
          border-bottom: solid 1px #f1943a;
        }
      }
    }
  }
}

@media screen and (max-width:768px){
  .open-price-box {
    .price-txt {
      .price-txt-ttl {
        font-size: 4vw;
        span {
          font-size: 4.8vw;
          padding: .1em 0;
        }
      }
      h3 {
        font-size: 6vh;
      }
      .price-txt-limit {
        width: 21.33vw;
        height: 7vw;
        font-size: 2.6vw;
        span {
          font-size: 4.53vw;
        }
      }
    }
    .price-content-box-left,
    .price-content-box-right,
    .price-content-box-center {
      float: none;
      width: 90%;
      margin: 0 auto 30px;
      box-sizing: border-box;
      padding: 70px 0;
      height: auto;
    }
    .price-content-box-left {
      p {
        font-size: 5.6vw;
        line-height: 1.5;
        span.txt-red {
          font-size: 1.2em;
        }
        span.txt-blue {
          font-size: 1.2em;
        }
      }
    }
    .price-content-box-right {
      p {
        span {
          font-size: 1.2em;
          color: #fe4a67;
        }
      }
    }
    .price-content-box-center {
      .incentive-fee {
        font-size: 5.6vw;
        display: block;
        text-align: center;
        padding-top: 0;
        span {
          color: #f1943a;
          border-bottom: solid 1px #f1943a;
        }
      }
      .price-content-box-arrow {
        display: inline-block;
        margin-top: 20px;
        img {
          vertical-align: top;
        }
        p {
          display: inline-block;
          font-size: 2rem;
          padding-left: .3rem;
          padding-top: .3em;
          span {
            color: #fe4a67;
            font-size: 3.2rem;
          }
        }
        .arrow-sp {
          display: inline-block;
        }
        .arrow-pc {
          display: none;
        }
      }
      .price-thirty {
        display: block;
        p {
          font-size: 7vh;
          color: #fe4a67;
          span {
            font-size: 0.7em;
          }
        }
      }
    }
  }
  .price_bg {
    background-image: url(../../img/MINIQUE_LP_SP_assets/price_bg_sp.png);
    background-size: 100vw 50px;
    @include bg-size;
    height: 52px;
    position: relative;
    top: -10px;
    z-index: -3;
  }
}

@media screen and (max-width:375px){
  .open-price-box {
    padding-bottom: 20px;
    .price-txt {
        font-family: "Kazesawa-Extrabold";
        margin-top: 150px;
        padding-top: 20px;
    }
    .price-content-box-right,
    .price-content-box-left,
    .price-content-box-center {
      padding: 35px 0;
    }
    .price-content-box-center {
      .price-content-box-arrow {
        img {
          width: 20px;
        }
        p {
          font-size: 1rem;
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }
}


/*--------------------------------------------------
  contact
--------------------------------------------------*/

.contact-box {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  .content-ttl {
    font-family: "Kazesawa-Extrabold";
    font-size: 36px;
    margin:120px 0 30px;
  }
  .contact-by {
    margin: 80px 0 40px;
    font-size: 24px;
  }
  .tel-banner {
    width: 700px;
    height: 100px;
    background-color: #0c82f8;
    border-radius: 50px;
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
    margin: 0 auto;
    font-family: 'Proza Libre', sans-serif;
    font-size: 48px;
    line-height: 100px;
    color: #fff;
    .phone-number {
      text-align: left;
      padding-top: 5px;
      img {
        margin: 0 100px 0 40px;
      }
    }
  }
  .contact-form {
    width: 100%;
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
    margin-bottom: 100px;
    border: 1px solid #ddd;
  }
}


.fm-table {
  width: 73%;
  margin: 0 auto;
  .fm-radio {
    margin: 0;
    p {
      position: relative;
      width: 48.6%;
      font-size: 30px;
      font-family: "Kazesawa-Extrabold";
      display: inline-block;
      margin: 80px 0 20px;
    }
    input[type="radio"] {
      visibility: hidden;
      background-color: #fff;
      margin: 3px 4ex;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      top: 5px;
      position: relative;
      vertical-align: middle;
      background: url(../img/MINIQUE_LP_PC-assets/select.png) no-repeat left top;
      background-size: contain;
    }
    label {
      margin: 0 0 0 -59px;
      &:before {
      position: absolute;

      display: block;
      content: "";
      width: 40px;
      height: 40px;
      top: 2px;
      left: 0;
      border: 2px solid #37474f;
      }
    }
    label.selected {
      input[type="radio"] {
        visibility: visible;
      }
    }
    .fm-radio-border {
      border-bottom: 8px solid #f6e14f;
      width: 75%;
      display: block;
      margin: -10px 0 0 43px;
    }
  }

  .fm-tr {
    overflow: hidden;
    font-size: 18px;
    margin: 20px 0;
    .fm-th {
      float: left;
      width: 40%;
      text-align: left;
      padding: 10px 0;
      span.required-txt {
        background-color: #f15e5e;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        display: block;
        float: right;
        margin-right: 20px;
      }
    }
    .fm-td {
      float: left;
      width: 50%;
      input {
        height: 50px;
        background-color: #eee;
        width: 100%;
        float: left;
        padding: 0 10px 0 10px;
        font-size: 18px;
      }
      textarea {
        height: 165px;
        background-color: #eee;
        width: 100%;
        resize: none;
        padding: 10px 10px 0 10px;
        font-size: 18px;
      }
    }
  }
  .last_fm-tr{
    .fm-td {
      width: 60%;
    }
  }
  .fm-btn {
    width: 360px;
    height: 80px;
    font-size: 18px;
    background-color: #e3b705;
    border-radius: 40px;
    color: #fff;
    margin: 50px 0 80px;
    transition: opacity .3s ease;
    cursor : pointer;
    &:hover {
      opacity: .8;
    }
  }
}

@media screen and (max-width:768px){
  .contact-box {
    .content-ttl {
      margin: 16vw auto 5.066666667vw;
      font-size: 5.714666667vw;
    }
    .contact-by {
      margin: 18vw auto 5.066666667vw;
      font-size: 4.8vw;
      font-weight: bold;
    }
    .tel-banner {
      width: 93.3333vw;
      height: 20vw;
      font-size: 9.6vw;
      .phone-number {
        height: 20vw;
        padding: 0;
        line-height: 20vw;
        img {
          width: 8%;
          margin: 3vw 0 0 6vw;
        }
        span {
          padding-bottom: 1vw;
        }
      }
    }
    .contact-form {
    }
  }

  .fm-table {
    width: 88vw;
    .fm-radio {
      margin: 10.6667vw 0 9.3333vw;
      p {
        display: block;
        width: 91%;
        height: 10.6667vw;
        margin: auto;
        font-size: 7.441333333vw;
        &:nth-child(2){
          margin: 5.3333vw auto 0;
        }
      }
      label{
        width: 100%;
        margin: 0 0 0 -14vw;
        &:before{
          width: 10vw;
          height: 10vw;
        }
      }
      input[type="radio"] {
        margin: 3px -2ex;
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }
      .fm-radio-border {
        width: 74%;
        margin: -2.4vw 0 0 11vw;
      }
    }

    .fm-tr {
      width: 80vw;
      margin: 0 auto 4vw;
      .fm-th {
        float: none;
        width: inherit;
        font-size: 3.733333333vw;
        span.required-txt {
          float: none;
          display: inline-block;
          margin: 0 0 0 2.666666667vw;
          padding: 0.6666vw 0.8vw;
          font-size: 2.314666667vw;
        }
      }
      .fm-td {
        float: none;
        width: 100%;
        input {
          float: none;
          height: 10.6667vw;
          padding: 0 2vw 0 2vw;
        }
        textarea {
          height: 32vw;
          padding: 2vw;
        }
      }
    }
    .fm-btn {
      width: 66.6667vw;
      height: 13.3333vw;
      margin: 4vw 0 10.6667vw;
      font-size: 4vw;
    }
  }
}

@media screen and (max-width:375px){
  .fm-table {
    .fm-radio {
      .fm-radio-border {
        width: 74%;
        margin: -2.4vw 0 0 11vw;
      }
    }
    .fm-tr {
      .fm-th {
        span.required-txt {
          float: none;
          display: inline-block;
          margin: 0 0 0 2.666666667vw;
          padding: 0.6666vw 0.8vw;
          font-size: 2.314666667vw;
          position: relative;
          top: -4px;
        }
      }
    }
  }
}


@media screen and (max-width:375px){
  .fm-table {
    .fm-radio {
      input[type="radio"] {
        margin: 3px 1ex;
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }
    }
    .fm-radio-border {
    }
  }
}

.send-confirm-container {
  width: 100%;
  margin: auto;
}

/*--------------------------------------------------
  thanks
--------------------------------------------------*/

.thanks-box {
  text-align: center;
  h4 {
    margin: 120px 0 30px;
    font-family: "Kazesawa-Extrabold";
    font-size: 36px;
  }
  p {
    font-family: 'Noto Sans Japanese';
    padding: 35px 0 120px 0;
    line-height: 2.5em;
  }
}

.button-box{
  width: 320px;
  margin: auto;
  a{
    display: block;
    border-radius: 40px;
    p{
      width: 100%;
      padding: 26.5px 0;
      font-size: 18px;
      text-align: center;
      background-color: #e3b705;
      border-radius: 40px;
      color: #fff;
    }
  }
}

@media screen and (max-width:768px) {

  .thanks-box {
    width: 95%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    h4 {
      margin: 16vw 0 5.3333vw;
      font-size: 5.714666667vw;
      span {
        &::after {
          content: "\A" ;
          white-space: pre;
        }
      }
    }
    p {
      padding: 5.3333vw 0 16vw;
      font-size: 4vw;
      line-height: 1.75em;
    }
  }

  .button-box{
    width: 66.6667vw;
    margin: auto;
    a{
      p{
        padding: 4.25vw 0;
        font-size: 4vw;
        border-radius: 40px;
        color: #fff;
      }
    }
  }
}


/*--------------------------------------------------
  thanks
--------------------------------------------------*/

.return_btn {
  display: block;
  width: 20%;
  bottom: 10%;
  color: #9ca3a7;
  font-size: 18px;
  background: url(shared/img/MINIQUE_LP_PC-assets/form_rewrite.jpg) 0 50% no-repeat;
}




// モーダル表示用

#modal-form {
  z-index: 2;
  position: fixed;
}

#modal-overlay{
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.3);
  width:100%;
  height:120%;
  position:fixed;
  top:0;
  left:0;
}

#modal-content{
  position: fixed;
  display: none;
  width:50%;
  margin:1.5em auto 0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
  z-index:2;
}

.modal-p{
  margin-top:1em;
}

.modal-p:first-child{
  margin-top:0;
}

.button-link{
  color:#00f;
  text-decoration:underline;
}

.button-link:hover{
  cursor:pointer;
  color:#f00;
}


.hide {
  display: none;
}


























